<a name="task-map"></a><h2>Task map</h2>

<ul class="info">
  <li>The task map establishes which tickets will be assigned to which people
  whenever a new hire needs to be onboarded.</li>
</ul>

<% if task_map and !task_map.empty? %>
  <table class="highlightable-table">
    <tr>
      <th>Task</th>
      <th></th>
      <th>Assignee</th>
      <th></th>
      <th></th>
    </tr>

    <% task_map.each do |task| %>
      <tr title="<%= task.long_descr %>">
        <td><%= task.subject %></td>
        <td class="small"><%= truncate(task.long_descr) %></td>
        <td><%= task.role %></td>
        <td class="small">
          <%= redmine_login_to_real_name_link(find_role_obj(task.role).user) %>
        </td>
        <td>
          <form method="POST" action="/tasks">
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="hidden" name="task-name" value="<%= task.subject %>"/>
            <input type="submit" value="Delete"/>
          </form>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="info">(No tasks have been assigned yet!)</p>
<% end %>

<!-- ///// -->

<h2>Add a task</h2>

<p class="info"><strong>Note:</strong> This does <strong>not</strong> actually
create a ticket inside Redmine. This form only updates the task map.</p>

<form method="POST" action="/tasks">
  <table id="">
    <tr>
      <td>The task</td>
      <td><input type="text" name="task-name"/></td>
    </tr>

    <tr>
      <td>Long description</td>
      <td><textarea rows="5" cols="40" name="long-descr"/></textarea></td>
    </tr>

    <tr>
      <td>Whose responsibility?</td>
      <td><%= select_any_role("role-name") %></td>
    </tr>

    <tr>
      <td><input type="submit" value="Add"/></td>
      <td></td>
    </tr>
  </table>
</form>
