<a name="task-table"></a><h2>Task table</h2>

<ul class="info">
  <li><p>The <strong>task table</strong> lets you specify which onboarding
  tasks are relevant for each kind of employee.</p></li>

  <li><p>For example, new developers might require things that new salespeople
  do not.</p></li>
</ul>

<form method="POST" action="/tasktable">
  <table id="task-table" class="highlightable-table">
    <tr>
      <th></th>
      <% task_map.each do |mapping| %>
        <th><%= mapping.subject %></th>
      <% end %>
    </tr>

    <% all_taskmaps.each do |taskmap| %>
      <tr>
        <td><%= taskmap.name %></td>
        <% task_map.each do |mapping| %>
          <td>
            <input type="checkbox"
              <% if taskmap.tasks.include?(mapping.subject) %>checked<% end %>
              name="<%= taskmap.name %>-<%= mapping.subject %>"
              value="1"
            />
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <p><input type="submit" value="Save"/></p>
</form>

<hr/>

<%= erb(:"partials/task_map") %>

<hr/>

<%= erb(:"partials/task_maps") %>
