<h2>Current task maps</h2>

<form method="POST" action="#">
  <table id="task-table" class="highlightable-table">
    <tr>
      <th></th>
      <% task_map.each do |mapping| %>
        <th><%= mapping.subject %></th>
      <% end %>
    </tr>

    <% all_taskmaps.each do |taskmap| %>
      <tr>
        <td><%= taskmap.name %></td>
        <% task_map.each do |mapping| %>
          <td>
            <input type="checkbox"
              <% if taskmap.tasks.include?(mapping.subject) %>checked<% end %>
              name="<%= mapping.subject %>"
              value="<%= taskmap.name %>-<%= mapping.subject %>"
            />
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <p><input type="submit" value="Save"/></p>
</form>

<hr/>

<%= erb(:"partials/task_map") %>

<hr/>

<%= erb(:"partials/task_maps") %>
